@model DatingService.Models.Employee

@{
    ViewData["Title"] = "Личный кабинет";
}

<h4>Личный кабинет сотрудника</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passportseries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passportseries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passportnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passportnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<dir>
    Вашим сервисом пользуются @ViewBag.Clients человек(а)
</dir>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Login" class="btn btn-primary">Редактировать профиль</a>
</div>
